<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984740157858-7e5h1kl1kcmci5op6ni97t9bhbkc3o8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984740157858-7e5h1kl1kcmci5op6ni97t9bhbkc3o8j</string>
	<key>API_KEY</key>
	<string>AIzaSyDc2giPTJlXWyp3sGOeCoODXtzQaSeq5Oc</string>
	<key>GCM_SENDER_ID</key>
	<string>984740157858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myTodoApp</string>
	<key>PROJECT_ID</key>
	<string>login-auth-test-14404</string>
	<key>STORAGE_BUCKET</key>
	<string>login-auth-test-14404.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984740157858:ios:83d03bd753116eadaf7afb</string>
</dict>
</plist>